<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.component.scss">
    <title>Login</title>
</head>
<body>
    <div class="login-float-container">
        <div class="login-box">
            <div class="logo-container">
                <img src="/assets/images/logo-modified.png" alt="Company Logo">
            </div>
            <form>
                <div class="input-container">
                    <label for="username"><b>USERNAME</b></label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-container">
                    <label for="password"><b>PASSWORD</b></label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                    <button a href="#">Login</button>
            </form>
            <div class="create-account-link">
                <i><p>Don't have an account? <a href="/registration">Register here</a></p></i>
            </div>
        </div>
    </div>
</body>
</html>
