<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="sidenav.component.scss">
</head>
<body>
    <div class="sidenav">
        <div class="logo-container">
            <img src="/assets/images/logo.png" alt="Logo">
        </div>
        <ul class="category-list">
            <li><a href="#">Dashboard</a></li>
            <li><a href="manage/students">Students</a></li>
            <li><a href="manage/teachers">Teachers</a></li>
        </ul>
        <div class="bottom-links">
            <a href="#">Settings</a>
            <a href="login">Logout</a>
        </div>
    </div>
</body>
</html>
